<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tk.store.returns.dao.StoreReturnsDao">
	<sql id="return_column">
			tri.id,
            tri.return_number,
            nvl(tri.refund_product_money,0) refund_product_money,
            tri.apply_state,
            tri.create_user_name,
            to_char(tri.create_date,'yyyy-mm-dd hh24:mi:ss')  as  create_date,
            to_char(tri.return_product_confirm_date,'yyyy-mm-dd hh24:mi:ss')  as  return_product_confirm_date,
            tri.check_user_name,
            to_char(tri.check_date,'yyyy-mm-dd hh24:mi:ss')  as  check_date,
            tri.check_cancel_reason,
            nvl(tri.return_total_money,0) return_total_money,
            tri.return_reason,
            tri.return_remark,
            tri.return_logistics_company,
            tri.return_logistics_remark,
            tri.return_logistics_number,
            nvl(tri.buyer_freight_money,0) buyer_freight_money,
            nvl(tri.seller_freight_money,0) seller_freight_money,
            nvl(tri.compensate_money,0) compensate_money,
            nvl(tri.debit_money,0) debit_money,
            to_char(tri.return_logistics_create_date,'yyyy-mm-dd hh24:mi:ss') return_logistics_create_date,
            to_char(tri.cancel_date,'yyyy-mm-dd hh24:mi:ss') cancel_date,
            to_char(tri.confirm_receive_date,'yyyy-mm-dd hh24:mi:ss') confirm_receive_date,
            to_char(tri.refund_date,'yyyy-mm-dd hh24:mi:ss') refund_date,
            DECODE(tri.return_type,'1','政策退换货','2','品质退换货') return_type,
            tri.return_product_count,
            tri.seller_freight_number,
            tri.seller_freight_company,
            tri.return_after_sale_name,
            tri.return_after_sale_mobile,
            tri.return_after_sale_address,
            tri.partner_check_user_name,
            to_char(tri.partner_check_date,'yyyy-mm-dd hh24:mi:ss') partner_check_date,
            tri.partner_cancel_reason,
            tri.create_user_type,
            tri.partner_user_name
	</sql>

	<!-- 店铺退货单列表 -->
	<select id="queryReturnInfoList" parameterType="java.util.Map" resultType="java.util.Map">
		select  a.*,
    			(select user_realname from tbl_sys_user_info where user_name = a.check_user_name) check_user_realname,
	            (select login_name from tbl_user_info where user_name = a.create_user_name) login_name,
	            (select user_manage_name from tbl_user_info where user_name = a.create_user_name) user_manage_name,
	            nvl((select sum(count) from tbl_return_product where return_number = a.return_number and type='2'),0) actual_return_product_count,
	            (select user_realname from tbl_sys_user_info where user_name = a.partner_user_name) partner_user_realname,
	            (select user_realname from tbl_sys_user_info where user_name = a.partner_check_user_name) partner_check_user_realname,
	            (select user_control_store_name from tbl_user_info where user_name = a.create_user_name) user_store_name
    	  from (select t.*,rownum as rn
				  from (select <include refid="return_column"/>
				  		  from tbl_return_info tri
					    <where>
							   1=1
							   and create_user_type = 1
							   and exists(
							   	   select 1 from tbl_user_info tui 
							   	   <where>
							   	  		    1=1
							   	  		    and tui.user_name = tri.create_user_name
							   	  		<if test="ywjl_user_name != null and ywjl_user_name != '' ">
							    			and	tui.market_supervision_user_id = #{ywjl_user_name,jdbcType=VARCHAR}
										</if>
										<if test="md_id != null and md_id != 0 ">
							    			and	tui.store_id = #{md_id,jdbcType=INTEGER}
										</if>
										<if test="ywy_user_name != null and ywy_user_name != '' ">
							    			and	tui.referee_user_id = #{ywy_user_name,jdbcType=VARCHAR}
										</if>
								        <if test="public_user_type != null and public_user_type == 3">
								            and 1=2
								        </if>
								        <if test="public_user_type != null and public_user_type == 4">
								            and tui.market_supervision_user_id = #{public_user_id,jdbcType=INTEGER}
								        </if>
								        <if test="public_user_type != null and public_user_type == 5">
								            and 1=2
								        </if>
								        <if test="public_user_type != null and public_user_type == 6">
								            and 1=2
								        </if>
							   	   </where>)
							<if test="public_user_type != null and public_user_type == 7">
								and tri.supervisor_user_name = #{public_user_name,jdbcType=VARCHAR}
							</if>
					        <if test="public_user_type != null and public_user_type == 9">
								and tri.partner_user_name = #{public_user_name,jdbcType=VARCHAR}
						    </if>
							<if test="apply_state != null">
								and tri.apply_state in
				                <foreach item="item" collection="apply_state" open="(" separator="," close=")">
									#{item}
								</foreach>
							</if>
							<if test="return_number != null and return_number != '' ">
							    and	tri.return_number = #{return_number,jdbcType=VARCHAR}
							</if>
							<if test="store_id != null and store_id != '' ">
							    and	tri.create_user_name = #{store_id,jdbcType=VARCHAR}
							</if>
							<if test="return_type != null and return_type != '' ">
							    and	tri.return_type = #{return_type,jdbcType=VARCHAR}
							</if>
							<if test="start_date != null and start_date != '' ">
							    and	tri.create_date &gt;= to_date(#{start_date,jdbcType=VARCHAR},'YYYY-MM-DD HH24:MI:SS')
							</if>
							<if test="end_date != null and end_date != '' ">
							    and	tri.create_date &lt;= to_date(#{end_date,jdbcType=VARCHAR},'YYYY-MM-DD HH24:MI:SS')
							</if>
							<if test="login_name !=null and login_name !=''">
								and exists(select 1 from tbl_user_info tui where tui.user_name = tri.create_user_name and tui.login_name = #{login_name,jdbcType=VARCHAR})
							</if>
					    </where>
					    order by tri.create_date desc) t
		 		 where rownum &lt;= #{end_rownum,jdbcType=INTEGER}) A
		 where rn &gt; #{start_rownum,jdbcType=INTEGER}
	</select>
	<!-- 退货退款数量 -->
	<select id="queryReturnInfoCount" parameterType="java.util.Map" resultType="int">
		select count(1)
	  		  from tbl_return_info tri
		    <where>
				   1=1
				   and create_user_type = 1
				   and exists(
				   	   select 1 from tbl_user_info tui 
				   	   <where>
			   	  		    1=1
			   	  		    and tui.user_name = tri.create_user_name
			   	  		<if test="ywjl_user_name != null and ywjl_user_name != '' ">
			    			and	tui.market_supervision_user_id = #{ywjl_user_name,jdbcType=VARCHAR}
						</if>
						<if test="md_id != null and md_id != 0 ">
			    			and	tui.store_id = #{md_id,jdbcType=INTEGER}
						</if>
						<if test="ywy_user_name != null and ywy_user_name != '' ">
			    			and	tui.referee_user_id = #{ywy_user_name,jdbcType=VARCHAR}
						</if>
				        <if test="public_user_type != null and public_user_type == 3">
				            and 1=2
				        </if>
				        <if test="public_user_type != null and public_user_type == 4">
				            and tui.market_supervision_user_id = #{public_user_id,jdbcType=INTEGER}
				        </if>
				        <if test="public_user_type != null and public_user_type == 5">
				            and 1=2
				        </if>
				        <if test="public_user_type != null and public_user_type == 6">
				            and 1=2
				        </if>
			   	   </where>)
			<if test="public_user_type != null and public_user_type == 7">
				and tri.supervisor_user_name = #{public_user_name,jdbcType=VARCHAR}
			</if>
	        <if test="public_user_type != null and public_user_type == 9">
				and tri.partner_user_name = #{public_user_name,jdbcType=VARCHAR}
		    </if>   
				<if test="apply_state != null">
					and tri.apply_state in
	                <foreach item="item" collection="apply_state" open="(" separator="," close=")">
						#{item}
					</foreach>
				</if>
				<if test="return_number != null and return_number != '' ">
				    and	tri.return_number = #{return_number,jdbcType=VARCHAR}
				</if>
				<if test="store_id != null and store_id != '' ">
				    and	tri.create_user_name = #{store_id,jdbcType=VARCHAR}
				</if>
				<if test="return_type != null and return_type != '' ">
				    and	tri.return_type = #{return_type,jdbcType=VARCHAR}
				</if>
				<if test="start_date != null and start_date != '' ">
				    and	tri.create_date &gt;= to_date(#{start_date,jdbcType=VARCHAR},'YYYY-MM-DD HH24:MI:SS')
				</if>
				<if test="end_date != null and end_date != '' ">
				    and	tri.create_date &lt;= to_date(#{end_date,jdbcType=VARCHAR},'YYYY-MM-DD HH24:MI:SS')
				</if>
				<if test="login_name !=null and login_name !=''">
					and exists(select 1 from tbl_user_info tui where tui.user_name = tri.create_user_name and tui.login_name = #{login_name,jdbcType=VARCHAR})
				</if>
		    </where>
	</select>
	<!-- 退货退款详情 -->
	<select id="queryReturnInfoDetail" parameterType="java.util.Map" resultType="java.util.Map">
		select <include refid="return_column"/>,
			   (select login_name from tbl_user_info where user_name = tri.create_user_name) login_name,
			   (select sum(count) from tbl_return_product trp where trp.return_number=tri.return_number and trp.type='2')can_return_product_count,
			   return_logistics_company,
	           (select user_realname from tbl_sys_user_info where user_name = tri.partner_user_name) partner_user_realname,
	           (select user_realname from tbl_sys_user_info where user_name = tri.partner_check_user_name) partner_check_user_realname,
	           (select user_control_store_name from tbl_user_info where user_name = tri.create_user_name) user_store_name
		  from tbl_return_info tri
		<where>
				1=1
			<if test="return_number != null and return_number != '' ">
			    and	tri.return_number = #{return_number,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	
	<!-- 退货退款审批 -->
	<update id="auditReturnInfo" parameterType="java.util.Map">
		update tbl_return_info
		   set apply_state = #{apply_state,jdbcType=CHAR},
		   	   <if test="partner_cancel_reason !=null and partner_cancel_reason !=''">
		   	   partner_cancel_reason = #{partner_cancel_reason,jdbcType=VARCHAR},
		       </if>
		   	   partner_check_user_name = #{public_user_name,jdbcType=VARCHAR},
		       partner_check_date = sysdate
		 where return_number = #{return_number,jdbcType=VARCHAR}
	</update>
	
	<!-- 查询 申请 可退 不可退 商品列表-->
	<select id="queryCanReturn" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT CODENUMBER,
		       PRODUCT_SKU,
		       PRODUCT_ITEMNUMBER,
		       PRODUCT_COLOR,
		       PRODUCT_SPECS,
		       COUNT,
		       (SELECT PRODUCT_NAME FROM TBL_PRODUCT_INFO T WHERE T.ITEMNUMBER = T1.PRODUCT_ITEMNUMBER) PRODUCT_NAME,
		       (SELECT PRODUCT_IMG_URL FROM TBL_PRODUCT_INFO T WHERE T.ITEMNUMBER = T1.PRODUCT_ITEMNUMBER)PRODUCT_IMG_URL,
		       (SELECT ORIGINAL_PRODUCT_ITEMNUMBER FROM TBL_CUSTOM_PRODUCT_REL TCPR WHERE TCPR.CUSTOM_PRODUCT_ITEMNUMBER = T1.product_itemnumber) AS PRODUCT_OLD_ITEMNUMBER
		  FROM TBL_RETURN_PRODUCT T1
		 WHERE TYPE = #{type,jdbcType=CHAR} and return_number=#{return_number,jdbcType=VARCHAR}
		 order by T1.PRODUCT_ITEMNUMBER, T1.PRODUCT_COLOR,T1.PRODUCT_SPECS,T1.CODENUMBER
	</select>
	
	<!-- 查询异常商品-->
	<select id="queryUnusualProduct" parameterType="string" resultType="java.util.Map">
		select id,
			   return_number,
		       unusual_title,
		       unusual_num,
		       to_char(create_date,'yyyy-mm-dd hh24:mi:ss') create_date
		  from tbl_return_product_unusual
		 where return_number = #{return_number,jdbcType=VARCHAR} 
	</select>
	
	<!-- 查询货号凭证-->
	<select id="queryReturnImages" parameterType="string" resultType="java.util.Map">
		select product_itemnumber,voucher_type,voucher_img_url from tbl_return_images
		 where return_number = #{return_number,jdbcType=VARCHAR} and voucher_type='1'
		 order by product_itemnumber
	</select>
	
	<!-- 根据退款单号查询物流凭证-->
	<select id="queryLogisticsImages" parameterType="string" resultType="string">
		select voucher_img_url 
		  from tbl_return_images
		 where return_number = #{return_number,jdbcType=VARCHAR} 
		 	   and voucher_type='2'
	</select>

</mapper>